// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$blue-hover: #136fd8;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #3f3f3f;
$light-gray: #dbdbdb;
$almost-white: #f0f0f0;
$black: #303030;
$white: #ffffff;
