<div class="d-flex flex-wrap">
  <%= render "shared/orders/order_form" %>
  <div class="col-12 col-md-6 d-none d-md-block p-4 p-md-5 almost-white full-height">
    <%= render "shared/orders/order_right" %>
  </div>
</div>
