// Product Index
.product-thumbnail-image {
  width: 100%;
}

.product-card-wrapper {
  a {text-decoration: none;}
}

.product-card {
  border: 1px solid;
}

.product-index-image {
  width: 100%;
  object-fit: cover;
}

.product-text {
  padding: 10px;
  border-top: 1px solid;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Product Show

.product-show-image {
  width: 100%;
}
